In [42]:
import pandas as pd

In [43]:
path = "/content/drive/MyDrive/TableExportforExcel.csv"

In [44]:
df = pd.read_csv(path)

df

,FID,API_Number,County_Cod,County_Nam,Pmt_Number,Suffix,Status,Pmt_Issued,Operator_a,Surface_Ow,...,F2010_Gas_,F2011_Gas_,F2012_Gas_,F2013_Gas_,F2014_Gas_,F2015_Gas_,F2015_gas,Rock_Pres,gas_flow,Decline
0,0,4.708704e+09,87.0,Roane,4303.0,Original Location,Completed,11/14/2001,Key Oil Co.,Aileen R Looney,...,3041,3066,2994,2956,2902,2922,2922,400,390,0
1,2,4.700502e+09,5.0,Boone,1831.0,Original Location,Completed,10/10/2002,Eastern American Energy Corp.,David & Brenda Ball,...,3752,3346,3287,3100,3218,3367,3367,500,39,0
2,3,4.709502e+09,95.0,Tyler,1760.0,Original Location,Completed,11/26/2003,"Triad Resources, Inc.",OSI Specialties/Crompton Corp,...,5057,4773,4444,4192,3954,0,0,1200,175,0
3,4,4.709502e+09,95.0,Tyler,1775.0,Original Location,Completed,05/27/2004,"Triad Resources, Inc.",GE Silicones WV LLC,...,3385,2627,2877,2534,940,0,0,1575,200,0
4,5,4.704502e+09,45.0,Logan,1644.0,Original Location,Completed,06/23/2004,Cabot Oil & Gas Corp.,Lee Conley & Leah Conley,...,8663,8776,7290,7068,8072,7466,7466,530,421,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2286,3127,4.700502e+09,5.0,Boone,2147.0,Original Location,Completed,,Eastern American Energy Corp.,Iona Dent,...,17966,16080,14406,13198,12654,11940,11940,500,207,0
2287,3128,4.700502e+09,5.0,Boone,2195.0,Original Location,Completed,,Eastern American Energy Corp.,W Lee Wheatley,...,10747,10070,9350,8774,7826,6903,6903,367,531,0
2288,3129,4.703306e+09,33.0,Harrison,5619.0,Deviated Worked Over,Completed,,Antero Resources Appalachian Corp.,Edgar Southern,...,,,,918402,893155,632397,632397,3600,4331,0
2289,3130,4.704502e+09,45.0,Logan,1827.0,Original Location,Completed,,Cabot Oil & Gas Corp.,Vinson Taylor Trst,...,17721,16960,15609,13999,13167,12224,12224,325,919,0
2290,3131,4.708510e+09,85.0,Ritchie,9996.0,Deviated Original Location,Completed,,Antero Resources Corporation,John A & Linda J Campbell,...,,,,,580285,1109966,1109966,3000,6172,0

In [45]:
df.columns

Index(['FID', 'API_Number', 'County_Cod', 'County_Nam', 'Pmt_Number', 'Suffix',
       'Status', 'Pmt_Issued', 'Operator_a', 'Surface_Ow', 'Mineral_Ow',
       'Company_Nu', 'Well_Numbe', 'Quad_Name', 'UTME', 'UTMN', 'Longitude',
       'Latitude', 'Datum', 'Deepest_Ta', 'Target_Fm_', 'Target_Fm1',
       'Target_F_1', 'Spud_Date', 'Completion', 'TVD_Cmpl_R', 'TMD_Cmpl_R',
       'Gas_IOF', 'Gas_FOF', 'Oil_IOF', 'Oil_FOF', 'Rock_Press', 'Deepest_Fm',
       'Deepest__1', 'Well_Type', 'F2005_Gas_', 'F2006_Gas_', 'F2007_Gas_',
       'F2008_Gas_', 'F2009_Gas_', 'F2010_Gas_', 'F2011_Gas_', 'F2012_Gas_',
       'F2013_Gas_', 'F2014_Gas_', 'F2015_Gas_', 'F2015_gas', 'Rock_Pres',
       'gas_flow', 'Decline'],
      dtype='object')

In [46]:
df2 = df[ (df['F2005_Gas_'] > 0) |  (df['F2006_Gas_'] > 0) ]

df2

,FID,API_Number,County_Cod,County_Nam,Pmt_Number,Suffix,Status,Pmt_Issued,Operator_a,Surface_Ow,...,F2010_Gas_,F2011_Gas_,F2012_Gas_,F2013_Gas_,F2014_Gas_,F2015_Gas_,F2015_gas,Rock_Pres,gas_flow,Decline
0,0,4.708704e+09,87.0,Roane,4303.0,Original Location,Completed,11/14/2001,Key Oil Co.,Aileen R Looney,...,3041,3066,2994,2956,2902,2922,2922,400,390,0
1,2,4.700502e+09,5.0,Boone,1831.0,Original Location,Completed,10/10/2002,Eastern American Energy Corp.,David & Brenda Ball,...,3752,3346,3287,3100,3218,3367,3367,500,39,0
2,3,4.709502e+09,95.0,Tyler,1760.0,Original Location,Completed,11/26/2003,"Triad Resources, Inc.",OSI Specialties/Crompton Corp,...,5057,4773,4444,4192,3954,0,0,1200,175,0
3,4,4.709502e+09,95.0,Tyler,1775.0,Original Location,Completed,05/27/2004,"Triad Resources, Inc.",GE Silicones WV LLC,...,3385,2627,2877,2534,940,0,0,1575,200,0
4,5,4.704502e+09,45.0,Logan,1644.0,Original Location,Completed,06/23/2004,Cabot Oil & Gas Corp.,Lee Conley & Leah Conley,...,8663,8776,7290,7068,8072,7466,7466,530,421,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,1237,4.701302e+09,13.0,Calhoun,1511.0,Drilled Deeper,Completed,07/17/2008,Cain Oil & Gas,Francis Cain,...,818,5478,2758,632,248,559,559,1600,450,0
1272,1283,4.703503e+09,35.0,Jackson,2639.0,Worked Over,Completed,08/22/2008,Cabot Oil & Gas Corp.,Gertrude Chancey Monk,...,9312,8769,7797,7912,8483,7419,7419,450,480,0
1337,1348,4.705901e+09,59.0,Mingo,1202.0,Drilled Deeper,Completed,10/17/2008,"Chesapeake Appalachia, LLC",Heartwood Forestland Fund Co,...,,9299,9693,10294,11007,10903,10903,0,363,0
1422,1433,4.707700e+09,77.0,Preston,102.0,Worked Over,Completed,03/16/2009,"Chesapeake Appalachia, LLC",Glenn R Jr & Sue S Holmes,...,5945,5466,4535,557,0,59,59,0,0,0
2289,3130,4.704502e+09,45.0,Logan,1827.0,Original Location,Completed,,Cabot Oil & Gas Corp.,Vinson Taylor Trst,...,17721,16960,15609,13999,13167,12224,12224,325,919,0

In [47]:
df3 = df2['F2015_gas']

df3.replace(0,1)

0        2922
1        3367
2           1
3           1
4        7466
        ...
1226      559
1272     7419
1337    10903
1422       59
2289    12224
Name: F2015_gas, Length: 359, dtype: int64

In [48]:
df2['F2015_gas'] = df2['F2015_gas'].replace(0,1)

df2

<ipython-input-48-1cd79ba5e4c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['F2015_gas'] = df2['F2015_gas'].replace(0,1)

,FID,API_Number,County_Cod,County_Nam,Pmt_Number,Suffix,Status,Pmt_Issued,Operator_a,Surface_Ow,...,F2010_Gas_,F2011_Gas_,F2012_Gas_,F2013_Gas_,F2014_Gas_,F2015_Gas_,F2015_gas,Rock_Pres,gas_flow,Decline
0,0,4.708704e+09,87.0,Roane,4303.0,Original Location,Completed,11/14/2001,Key Oil Co.,Aileen R Looney,...,3041,3066,2994,2956,2902,2922,2922,400,390,0
1,2,4.700502e+09,5.0,Boone,1831.0,Original Location,Completed,10/10/2002,Eastern American Energy Corp.,David & Brenda Ball,...,3752,3346,3287,3100,3218,3367,3367,500,39,0
2,3,4.709502e+09,95.0,Tyler,1760.0,Original Location,Completed,11/26/2003,"Triad Resources, Inc.",OSI Specialties/Crompton Corp,...,5057,4773,4444,4192,3954,0,1,1200,175,0
3,4,4.709502e+09,95.0,Tyler,1775.0,Original Location,Completed,05/27/2004,"Triad Resources, Inc.",GE Silicones WV LLC,...,3385,2627,2877,2534,940,0,1,1575,200,0
4,5,4.704502e+09,45.0,Logan,1644.0,Original Location,Completed,06/23/2004,Cabot Oil & Gas Corp.,Lee Conley & Leah Conley,...,8663,8776,7290,7068,8072,7466,7466,530,421,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,1237,4.701302e+09,13.0,Calhoun,1511.0,Drilled Deeper,Completed,07/17/2008,Cain Oil & Gas,Francis Cain,...,818,5478,2758,632,248,559,559,1600,450,0
1272,1283,4.703503e+09,35.0,Jackson,2639.0,Worked Over,Completed,08/22/2008,Cabot Oil & Gas Corp.,Gertrude Chancey Monk,...,9312,8769,7797,7912,8483,7419,7419,450,480,0
1337,1348,4.705901e+09,59.0,Mingo,1202.0,Drilled Deeper,Completed,10/17/2008,"Chesapeake Appalachia, LLC",Heartwood Forestland Fund Co,...,,9299,9693,10294,11007,10903,10903,0,363,0
1422,1433,4.707700e+09,77.0,Preston,102.0,Worked Over,Completed,03/16/2009,"Chesapeake Appalachia, LLC",Glenn R Jr & Sue S Holmes,...,5945,5466,4535,557,0,59,59,0,0,0
2289,3130,4.704502e+09,45.0,Logan,1827.0,Original Location,Completed,,Cabot Oil & Gas Corp.,Vinson Taylor Trst,...,17721,16960,15609,13999,13167,12224,12224,325,919,0

In [55]:
df2["Prod_Dec"] = 1 - df2["F2015_gas"] / df2["F2005_Gas_"]

<ipython-input-55-65787f22b4cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Prod_Dec"] = 1 - df2["F2015_gas"] / df2["F2005_Gas_"]

In [56]:
a = df2.index[df2['Prod_Dec'] < 0]

a

Int64Index([   1,    4,   11,   18,   19,   23,   33,   36,   38,   40,
            ...
             737,  833,  855,  869,  912,  983, 1099, 1272, 1337, 2289],
           dtype='int64', length=305)

In [57]:
df2.loc[a, "Prod_Dec"] = 1 - df2["F2015_gas"] / df2["F2006_Gas_"]

In [58]:
df2

,FID,API_Number,County_Cod,County_Nam,Pmt_Number,Suffix,Status,Pmt_Issued,Operator_a,Surface_Ow,...,F2011_Gas_,F2012_Gas_,F2013_Gas_,F2014_Gas_,F2015_Gas_,F2015_gas,Rock_Pres,gas_flow,Decline,Prod_Dec
0,0,4.708704e+09,87.0,Roane,4303.0,Original Location,Completed,11/14/2001,Key Oil Co.,Aileen R Looney,...,3066,2994,2956,2902,2922,2922,400,390,0,0.218508
1,2,4.700502e+09,5.0,Boone,1831.0,Original Location,Completed,10/10/2002,Eastern American Energy Corp.,David & Brenda Ball,...,3346,3287,3100,3218,3367,3367,500,39,0,0.189261
2,3,4.709502e+09,95.0,Tyler,1760.0,Original Location,Completed,11/26/2003,"Triad Resources, Inc.",OSI Specialties/Crompton Corp,...,4773,4444,4192,3954,0,1,1200,175,0,0.999936
3,4,4.709502e+09,95.0,Tyler,1775.0,Original Location,Completed,05/27/2004,"Triad Resources, Inc.",GE Silicones WV LLC,...,2627,2877,2534,940,0,1,1575,200,0,0.999932
4,5,4.704502e+09,45.0,Logan,1644.0,Original Location,Completed,06/23/2004,Cabot Oil & Gas Corp.,Lee Conley & Leah Conley,...,8776,7290,7068,8072,7466,7466,530,421,0,0.579025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,1237,4.701302e+09,13.0,Calhoun,1511.0,Drilled Deeper,Completed,07/17/2008,Cain Oil & Gas,Francis Cain,...,5478,2758,632,248,559,559,1600,450,0,0.378889
1272,1283,4.703503e+09,35.0,Jackson,2639.0,Worked Over,Completed,08/22/2008,Cabot Oil & Gas Corp.,Gertrude Chancey Monk,...,8769,7797,7912,8483,7419,7419,450,480,0,0.284778
1337,1348,4.705901e+09,59.0,Mingo,1202.0,Drilled Deeper,Completed,10/17/2008,"Chesapeake Appalachia, LLC",Heartwood Forestland Fund Co,...,9299,9693,10294,11007,10903,10903,0,363,0,-inf
1422,1433,4.707700e+09,77.0,Preston,102.0,Worked Over,Completed,03/16/2009,"Chesapeake Appalachia, LLC",Glenn R Jr & Sue S Holmes,...,5466,4535,557,0,59,59,0,0,0,0.995257
2289,3130,4.704502e+09,45.0,Logan,1827.0,Original Location,Completed,,Cabot Oil & Gas Corp.,Vinson Taylor Trst,...,16960,15609,13999,13167,12224,12224,325,919,0,0.620113

In [ ]:
df3 = df2[df2.Prod_Dec != "-inf"]

df3

In [68]:
df2.to_csv('WellDecline.csv')

In [69]:
df2.to_csv('/content/drive/MyDrive/WellDecline.csv')